.container {
	display: grid;
	grid-template-columns: 40% 35% auto;
}

.mini {
  border: solid white;
}

img{
	height: 300px;
	width:auto;
	border: 3px solid black;
	border-radius: 10px;
  padding: 7px;
	margin: 5px;
	/* margin-left: 10% */
}

#img1 {
  border: 3px dotted rgb(44, 83, 241);
}

#img2 {
  border: 3px dashed rgb(241, 44, 169);
}

#img3 {
  border: 3px dotted rgb(87, 44, 241);
}